
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@layout_res.layout.LoadingPolicy</title>
    <meta http-equiv="refresh" content="1;URL=https://policy.basersoftware.com/">
</head>
<body>
    <div> 
    </div>
</body>
</html>
