@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <meta http-equiv="refresh" content="1;URL=https://projects.basersoftware.com/">
</head>
<body>
    <div>
    </div>
</body>
</html>